/*
    (c)2025 Lance Stubblefield - Resume Project
*/

@import "tailwindcss";

.resumePage {

    @apply m-2 bg-white text-gray-700 shadow-lg shadow-gray-400;

    .tableContainer {
        .tableRow {
            @apply flex justify-between px-2;

            .tableCell1 {
                @apply w-1/6;
                @apply text-blue-800 font-semibold;
            }

            .tableCell2 {
                @apply w-1/6;
                @apply text-blue-800 font-light;
            }

            .tableCell3 {
                @apply w-4/6;
                @apply text-blue-700 font-light italic;
            }

            .tableCell4 {
                @apply w-5/6;
                @apply text-blue-700 font-light;
            }
        }

        .tableBlock {
            @apply block mx-1;

            .tableCell5 {
                @apply w-full;
                @apply text-blue-800 font-semibold;
            }

            .tableCell6 {
                @apply w-full pl-2 text-left;
                @apply text-blue-700 font-light;
                @apply border-b-2 border-gray-200;
            }
        }
    }

    .resumeTop {
        height: 1232px;
        @apply flex w-full;
        @apply shadow-md shadow-gray-300;

        .resumeLeft {
            @apply border-r-2 border-gray-300;
            @apply w-1/4 h-full;

            .title {
                height: 30px;
                @apply pl-2 pt-1 text-sm font-light italic leading-tight text-left;
                @apply text-blue-400 bg-blue-50;
                @apply border-b-2 border-blue-100;
            }

            .avatar {
                height: 160px;
                @apply w-34 mx-auto my-2 bg-cover bg-no-repeat;
                @apply rounded-md;
                background-image: url("./assets/hero.png");
            }

            .credentials, .certificates {
                height: 313px;

                h4 {
                    @apply px-2 bg-gray-400 text-center text-gray-100 font-semibold uppercase;
                }
            }


            .links {
                height: 400px;
                @apply p-2 bg-blue-100 border-t-2 border-blue-300;

                .linkCell {
                    @apply flex p-2;
                    @apply w-11/12 mx-auto mt-1 border-t-2 border-white;

                    .linkIcon {
                        @apply w-10;

                        img {
                            @apply h-6;
                        }
                    }

                    .linkImage {
                        @apply block;

                        img {
                            @apply h-20;
                        }
                    }

                    .linkTitle {
                        @apply ml-2 font-bold leading-tight;
                    }

                }

                .linkAddress {
                    @apply pl-4 font-light text-xs leading-tight;

                }

            }

        }


        .resumeMain {
            @apply w-3/4 px-4;

            h1 {
                @apply mt-2 p-0 text-4xl font-bold;
                @apply text-blue-900;
            }

            h2 {
                @apply text-lg font-semibold;
                @apply text-blue-300;
            }

            h3 {
                @apply font-normal text-xl;
                @apply text-blue-800;
            }

            p {
                @apply font-light;
            }

            .resumeTitle {
                @apply w-full p-2 text-center;
            }

            .resumeIntro {
                @apply -mt-4 w-full p-2 text-center italic;

            }

            .resumeHR {
                @apply w-10/12 mx-auto my-4 border-2 border-gray-200
            }

            .resumeSection {
                @apply w-full mb-2 pb-2;
                @apply border-b-2 border-blue-200;

            }

            .resumeExamples {
                @apply w-full;

                .exampleRow {
                    @apply flex w-full;
                    @apply border-b-2 border-gray-500;

                    .exampleImage1, .exampleImage2, .exampleImage3, .exampleImage4 {
                        @apply w-2/5 h-36 m-2;
                        @apply shadow-md shadow-gray-600;
                        @apply bg-cover bg-no-repeat rounded-md;
                    }

                    .exampleImage1 {
                        background-image: url("./assets/sampleElynors.png");
                    }

                    .exampleImage2 {
                        background-image: url("./assets/sampleMM.png");
                    }

                    .exampleImage3 {
                        background-image: url("./assets/sampleCNC.png");
                    }

                    .exampleImage4 {
                        background-image: url("./assets/sampleTaco.png");
                    }

                    .exampleSummary {
                        @apply w-3/5 h-36;

                        .exampleTitle {
                            @apply w-full pt-1 pl-1 text-lg font-bold;
                            @apply text-blue-900;
                        }

                        .exampleDescription {
                            @apply italic font-normal;
                        }
                    }
                }
            }

        }

    }

    .resumeBottom {
        height: 200px;
    }
}
@media print {
    .resumePage {
      @apply m-0 p-0 bg-white;
      transform: scale(.90)
    }
}

